<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="header">
          <h1>Sign Up</h1>
          <h6>Register</h6>
        </div>
        <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Full name</label><span class="text-danger" *ngIf="signUpForm.controls['fullName'].dirty && signUpForm.hasError('required', 'fullName')"> *Name is required</span>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="fullName">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Mobile Number</label><span class="text-danger" *ngIf="signUpForm.controls['mobile'].dirty && signUpForm.hasError('required', 'mobile')"> *Mobile Number is required</span>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="mobile">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label><span class="text-danger" *ngIf="signUpForm.controls['email'].dirty && signUpForm.hasError('required', 'email')"> *Email is required</span>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email">

          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label><span class="text-danger" *ngIf="signUpForm.controls['password'].dirty && signUpForm.hasError('required', 'password')"> *Password is required</span>
            <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
          </div>
          <div class="footer">
            <button type="submit" [disabled]="!signUpForm.valid">Sign Up</button>
            <a routerLink="/login">Login</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
